<!DOCTYPE html>
<html>
  <head>
    <title>登陆页面</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/登陆页面/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/登陆页面/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (标题栏) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u48" class="ax_default box_2">
        <div id="u48_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u49" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- TITLE (Rectangle) -->
      <div id="u50" class="ax_default heading_1" data-label="TITLE">
        <div id="u50_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u51" class="text">
          <p><span>TITLE</span></p>
        </div>
      </div>

      <!-- log-button (Rectangle) -->
      <div id="u52" class="ax_default button" data-label="log-button">
        <div id="u52_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u53" class="text">
          <p><span>登陆</span></p>
        </div>
      </div>

      <!-- register-botton (Rectangle) -->
      <div id="u54" class="ax_default button" data-label="register-botton">
        <div id="u54_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u55" class="text">
          <p><span>注册</span></p>
        </div>
      </div>

      <!-- personal-page-button (Rectangle) -->
      <div id="u56" class="ax_default button" data-label="personal-page-button">
        <div id="u56_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u57" class="text">
          <p><span>个人主页</span></p>
        </div>
      </div>

      <!-- Unnamed (one) -->

      <!-- Unnamed (Group) -->
      <div id="u59" class="ax_default" data-width="441" data-height="456">

        <!-- Unnamed (Rectangle) -->
        <div id="u60" class="ax_default box_2">
          <div id="u60_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u61" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u62" class="ax_default image">
          <img id="u62_img" class="img " src="images/homepage/u31.jpg"/>
          <!-- Unnamed () -->
          <div id="u63" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u64" class="ax_default box_2">
          <div id="u64_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u65" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u66" class="ax_default heading_2">
          <div id="u66_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u67" class="text">
            <p><span>What is a journey?</span></p><p><span>A journey is not a trip.</span></p><p><span>It's not a vacation.</span></p><p><span>It's a process. A discovery.</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (搜索框) -->

      <!-- Unnamed (Group) -->
      <div id="u69" class="ax_default" data-width="441" data-height="48">

        <!-- Unnamed (Rectangle) -->
        <div id="u70" class="ax_default box_2">
          <div id="u70_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u71" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u72" class="ax_default text_field">
          <input id="u72_input" type="text" value=""/>
        </div>

        <!-- Unnamed (HTML Button) -->
        <div id="u73" class="ax_default html_button">
          <input id="u73_input" type="submit" value="🔍"/>
        </div>
      </div>

      <!-- Unnamed (登陆窗口) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u75" class="ax_default box_2">
        <div id="u75_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u76" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u77" class="ax_default heading_2">
        <div id="u77_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u78" class="text">
          <p><span style="font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';font-weight:650;font-style:normal;">账号</span></p>
        </div>
      </div>

      <!-- username (Text Field) -->
      <div id="u79" class="ax_default text_field" data-label="username">
        <input id="u79_input" type="text" value=""/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u80" class="ax_default heading_2">
        <div id="u80_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u81" class="text">
          <p><span>密码</span></p>
        </div>
      </div>

      <!-- password (Text Field) -->
      <div id="u82" class="ax_default text_field" data-label="password">
        <input id="u82_input" type="text" value=""/>
      </div>

      <!-- register-botton (Rectangle) -->
      <div id="u83" class="ax_default button" data-label="register-botton">
        <div id="u83_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u84" class="text">
          <p><span>注册</span></p>
        </div>
      </div>

      <!-- register-botton (Rectangle) -->
      <div id="u85" class="ax_default button" data-label="register-botton">
        <div id="u85_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u86" class="text">
          <p><span>忘记密码</span></p>
        </div>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u87" class="ax_default radio_button">
        <label for="u87_input">
          <!-- Unnamed () -->
          <div id="u88" class="text">
            <p><span>外联登陆方式</span></p>
          </div>
        </label>
        <input id="u87_input" type="radio" value="radio" name="u87"/>
      </div>

      <!-- register-botton (Rectangle) -->
      <div id="u89" class="ax_default button" data-label="register-botton">
        <div id="u89_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u90" class="text">
          <p><span>登陆</span></p>
        </div>
      </div>

      <!-- Unnamed (联系我们) -->

      <!-- Unnamed (Group) -->
      <div id="u92" class="ax_default" data-width="670" data-height="46">

        <!-- Unnamed (Group) -->
        <div id="u93" class="ax_default" data-width="670" data-height="46">

          <!-- Unnamed (Rectangle) -->
          <div id="u94" class="ax_default box_2">
            <div id="u94_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u95" class="text" style="display:none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u96" class="ax_default heading_3">
            <div id="u96_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u97" class="text">
              <p><span>&nbsp;</span><span>联系我们</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (©️) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u99" class="ax_default heading_3">
        <div id="u99_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u100" class="text">
          <p><span style="font-family:'AdobeFangsongStd-Regular', 'Adobe Fangsong Std R', 'Adobe Fangsong Std';">Copyright </span><span style="font-family:'AppleColorEmoji', 'Apple Color Emoji';">©️</span><span style="font-family:'AdobeFangsongStd-Regular', 'Adobe Fangsong Std R', 'Adobe Fangsong Std';">2017 author. All rights reserved.</span></p>
        </div>
      </div>

      <!-- Unnamed (实时) -->

      <!-- Unnamed (Group) -->
      <div id="u102" class="ax_default" data-width="219" data-height="313">

        <!-- Unnamed (Rectangle) -->
        <div id="u103" class="ax_default box_2">
          <div id="u103_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u104" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u105" class="ax_default sticky_4">
          <div id="u105_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u106" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u107" class="ax_default heading_2">
          <div id="u107_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u108" class="text">
            <p><span>实时</span></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
