<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>HOMEPAGE</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="{% static "homepage/resources/css/jquery-ui-themes.css"%}" type="text/css" rel="stylesheet"/>
    <link href="{% static "homepage/resources/css/axure_rp_page.css"%}" type="text/css" rel="stylesheet"/>
    <link href="{% static "homepage/data/styles.css"%}" type="text/css" rel="stylesheet"/>
    <link href="{% static "homepage/files/homepage/styles.css"%}" type="text/css" rel="stylesheet"/>
    <script src="{% static "homepage/resources/scripts/jquery-1.7.1.min.js"%}"></script>
    <script src="{% static "homepage/resources/scripts/jquery-ui-1.8.10.custom.min.js"%}"></script>
    <script src="{% static "homepage/resources/scripts/prototypePre.js"%}"></script>
    <script src="{% static "homepage/data/document.js"%}"></script>
    <script src="{% static "homepage/resources/scripts/prototypePost.js"%}"></script>
    <script src="{% static "homepage/files/homepage/data.js"%}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (搜索框) -->

      <!-- Unnamed (Group) -->
      <div id="u1" class="ax_default" data-width="441" data-height="48">

        <!-- Unnamed (Rectangle) -->
        <div id="u2" class="ax_default box_2">
          <div id="u2_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u3" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u4" class="ax_default text_field">
          <input id="u4_input" type="text" value=""/>
        </div>

        <!-- Unnamed (HTML Button) -->
        <div id="u5" class="ax_default html_button">
          <input id="u5_input" type="submit" value="🔍"/>
        </div>
      </div>

      <!-- Unnamed (搜索框) [footnote] -->
      <div id="u0_ann" class="annotation"></div>

      <!-- Unnamed (标题栏) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u7" class="ax_default box_2">
        <div id="u7_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- TITLE (Rectangle) -->
      <div id="u9" class="ax_default heading_1" data-label="TITLE">
        <div id="u9_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u10" class="text">
          <p><span>TITLE</span></p>
        </div>
      </div>

      <!-- log-button (Rectangle) -->
      <div id="u11" class="ax_default button" data-label="log-button">
        <div id="u11_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12" class="text">
          <p><span>登陆</span></p>
        </div>
      </div>

      <!-- register-botton (Rectangle) -->
      <div id="u13" class="ax_default button" data-label="register-botton">
        <div id="u13_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u14" class="text">
          <p><span>注册</span></p>
        </div>
      </div>

      <!-- personal-page-button (Rectangle) -->
      <div id="u15" class="ax_default button" data-label="personal-page-button">
        <div id="u15_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u16" class="text">
          <p><span>个人主页</span></p>
        </div>
      </div>

      <!-- Unnamed (标题栏) [footnote] -->
      <div id="u6_ann" class="annotation"></div>

      <!-- Unnamed (bbs) -->

      <!-- Unnamed (Group) -->
      <div id="u18" class="ax_default" data-width="219" data-height="524">

        <!-- Unnamed (Rectangle) -->
        <div id="u19" class="ax_default box_2">
          <div id="u19_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u20" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u21" class="ax_default heading_2">
          <div id="u21_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u22" class="text">
            <p><span>TOPIC</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u23" class="ax_default sticky_2">
          <div id="u23_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u24" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u25" class="ax_default sticky_3">
          <div id="u25_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u26" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (bbs) [footnote] -->
      <div id="u17_ann" class="annotation"></div>

      <!-- Unnamed (one) -->

      <!-- Unnamed (Group) -->
      <div id="u28" class="ax_default" data-width="441" data-height="456">

        <!-- Unnamed (Rectangle) -->
        <div id="u29" class="ax_default box_2">
          <div id="u29_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u30" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u31" class="ax_default image">
          <img id="u31_img" class="img " src="{% static "homepage/images/homepage/regen/u31.jpg"%}"/>
          <!-- Unnamed () -->
          <div id="u32" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u33" class="ax_default box_2">
          <div id="u33_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u34" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u35" class="ax_default heading_2">
          <div id="u35_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u36" class="text">
            <p><span>What is a journey?</span></p><p><span>A journey is not a trip.</span></p><p><span>It's not a vacation.</span></p><p><span>It's a process. A discovery.</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (one) [footnote] -->
      <div id="u27_ann" class="annotation"></div>

      <!-- Unnamed (©️) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u38" class="ax_default heading_3">
        <div id="u38_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u39" class="text">
          <p><span style="font-family:'AdobeFangsongStd-Regular', 'Adobe Fangsong Std R', 'Adobe Fangsong Std';">Copyright </span><span style="font-family:'AppleColorEmoji', 'Apple Color Emoji';">©️</span><span style="font-family:'AdobeFangsongStd-Regular', 'Adobe Fangsong Std R', 'Adobe Fangsong Std';">2017 author. All rights reserved.</span></p>
        </div>
      </div>

      <!-- Unnamed (©️) [footnote] -->
      <div id="u37_ann" class="annotation"></div>

      <!-- Unnamed (联系我们) -->

      <!-- Unnamed (Group) -->
      <div id="u41" class="ax_default" data-width="670" data-height="46">

        <!-- Unnamed (Group) -->
        <div id="u42" class="ax_default" data-width="670" data-height="46">

          <!-- Unnamed (Rectangle) -->
          <div id="u43" class="ax_default box_2">
            <div id="u43_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u44" class="text" style="display:none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u45" class="ax_default heading_3">
            <div id="u45_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u46" class="text">
              <p><span>&nbsp;</span><span>联系我们</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (联系我们) [footnote] -->
      <div id="u40_ann" class="annotation"></div>
    </div>
  </body>
</html>
