<!DOCTYPE html>
<html>
  <head>
    <title>个人主页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/个人主页/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/个人主页/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (标题栏) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u164" class="ax_default box_2">
        <div id="u164_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u165" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- TITLE (Rectangle) -->
      <div id="u166" class="ax_default heading_1" data-label="TITLE">
        <div id="u166_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u167" class="text">
          <p><span>TITLE</span></p>
        </div>
      </div>

      <!-- log-button (Rectangle) -->
      <div id="u168" class="ax_default button" data-label="log-button">
        <div id="u168_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u169" class="text">
          <p><span>登陆</span></p>
        </div>
      </div>

      <!-- register-botton (Rectangle) -->
      <div id="u170" class="ax_default button" data-label="register-botton">
        <div id="u170_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u171" class="text">
          <p><span>注册</span></p>
        </div>
      </div>

      <!-- personal-page-button (Rectangle) -->
      <div id="u172" class="ax_default button" data-label="personal-page-button">
        <div id="u172_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u173" class="text">
          <p><span>个人主页</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u174" class="ax_default" data-width="441" data-height="532">

        <!-- Unnamed (Rectangle) -->
        <div id="u175" class="ax_default box_2">
          <div id="u175_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u176" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u177" class="ax_default heading_2">
          <div id="u177_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u178" class="text">
            <p><span>相册</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u179" class="ax_default heading_3">
          <div id="u179_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u180" class="text">
            <p style="font-size:18px;"><span>31 </span><span style="font-size:13px;">Dec</span></p>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u181" class="ax_default image">
          <img id="u181_img" class="img " src="images/个人主页/u181.jpg"/>
          <!-- Unnamed () -->
          <div id="u182" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u183" class="ax_default heading_3">
          <div id="u183_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u184" class="text">
            <p><span>praha</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u185" class="ax_default heading_3">
          <div id="u185_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u186" class="text">
            <p style="font-size:18px;"><span>23 </span><span style="font-size:13px;">Dec</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u187" class="ax_default heading_3">
          <div id="u187_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u188" class="text">
            <p><span>wien</span></p>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u189" class="ax_default image">
          <img id="u189_img" class="img " src="images/个人主页/u189.jpg"/>
          <!-- Unnamed () -->
          <div id="u190" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u191" class="ax_default heading_3">
          <div id="u191_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u192" class="text">
            <p><span>这一刻的想法</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u193" class="ax_default heading_3">
          <div id="u193_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u194" class="text">
            <p><span>这一刻的想法</span></p>
          </div>
        </div>

        <!-- Unnamed (添加相册) -->

        <!-- Unnamed (Rectangle) -->
        <div id="u196" class="ax_default primary_button">
          <div id="u196_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u197" class="text">
            <p><span>📷</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u198" class="ax_default" data-width="219" data-height="258">

        <!-- Unnamed (Rectangle) -->
        <div id="u199" class="ax_default box_2">
          <div id="u199_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u200" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u201" class="ax_default heading_2">
          <div id="u201_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u202" class="text">
            <p><span>日志</span></p>
          </div>
        </div>

        <!-- Unnamed (Table) -->
        <div id="u203" class="ax_default">

          <!-- Unnamed (Table Cell) -->
          <div id="u204" class="ax_default table_cell">
            <img id="u204_img" class="img " src="images/个人主页/u204.png"/>
            <!-- Unnamed () -->
            <div id="u205" class="text">
              <p><span>date</span></p>
            </div>
          </div>

          <!-- Unnamed (Table Cell) -->
          <div id="u206" class="ax_default table_cell">
            <img id="u206_img" class="img " src="images/个人主页/u206.png"/>
            <!-- Unnamed () -->
            <div id="u207" class="text">
              <p><span>subject</span></p>
            </div>
          </div>

          <!-- Unnamed (Table Cell) -->
          <div id="u208" class="ax_default table_cell">
            <img id="u208_img" class="img " src="images/个人主页/u204.png"/>
            <!-- Unnamed () -->
            <div id="u209" class="text">
              <p><span>31/12/2016</span></p>
            </div>
          </div>

          <!-- Unnamed (Table Cell) -->
          <div id="u210" class="ax_default table_cell">
            <img id="u210_img" class="img " src="images/个人主页/u206.png"/>
            <!-- Unnamed () -->
            <div id="u211" class="text">
              <p><span>布拉格</span></p>
            </div>
          </div>

          <!-- Unnamed (Table Cell) -->
          <div id="u212" class="ax_default table_cell">
            <img id="u212_img" class="img " src="images/个人主页/u212.png"/>
            <!-- Unnamed () -->
            <div id="u213" class="text">
              <p><span>23/12/2016</span></p>
            </div>
          </div>

          <!-- Unnamed (Table Cell) -->
          <div id="u214" class="ax_default table_cell">
            <img id="u214_img" class="img " src="images/个人主页/u214.png"/>
            <!-- Unnamed () -->
            <div id="u215" class="text">
              <p><span>维也纳</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (添加日志) -->

        <!-- Unnamed (Rectangle) -->
        <div id="u217" class="ax_default primary_button">
          <div id="u217_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u218" class="text">
            <p><span>✍️</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (我的话题) -->

      <!-- Unnamed (Group) -->
      <div id="u220" class="ax_default" data-width="219" data-height="258">

        <!-- Unnamed (Rectangle) -->
        <div id="u221" class="ax_default box_2">
          <div id="u221_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u222" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u223" class="ax_default heading_2">
          <div id="u223_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u224" class="text">
            <p><span>我的话题</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u225" class="ax_default sticky_1">
          <div id="u225_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u226" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (添加话题) -->

        <!-- Unnamed (Rectangle) -->
        <div id="u228" class="ax_default primary_button">
          <div id="u228_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u229" class="text">
            <p><span>🙋</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (联系我们) -->

      <!-- Unnamed (Group) -->
      <div id="u231" class="ax_default" data-width="670" data-height="46">

        <!-- Unnamed (Group) -->
        <div id="u232" class="ax_default" data-width="670" data-height="46">

          <!-- Unnamed (Rectangle) -->
          <div id="u233" class="ax_default box_2">
            <div id="u233_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u234" class="text" style="display:none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u235" class="ax_default heading_3">
            <div id="u235_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u236" class="text">
              <p><span>&nbsp;</span><span>联系我们</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (©️) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u238" class="ax_default heading_3">
        <div id="u238_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u239" class="text">
          <p><span style="font-family:'AdobeFangsongStd-Regular', 'Adobe Fangsong Std R', 'Adobe Fangsong Std';">Copyright </span><span style="font-family:'AppleColorEmoji', 'Apple Color Emoji';">©️</span><span style="font-family:'AdobeFangsongStd-Regular', 'Adobe Fangsong Std R', 'Adobe Fangsong Std';">2017 author. All rights reserved.</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
