<!DOCTYPE html>
<html>
  <head>
    <title>注册页面</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/注册页面/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/注册页面/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (标题栏) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u110" class="ax_default box_2">
        <div id="u110_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u111" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- TITLE (Rectangle) -->
      <div id="u112" class="ax_default heading_1" data-label="TITLE">
        <div id="u112_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u113" class="text">
          <p><span>TITLE</span></p>
        </div>
      </div>

      <!-- log-button (Rectangle) -->
      <div id="u114" class="ax_default button" data-label="log-button">
        <div id="u114_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u115" class="text">
          <p><span>登陆</span></p>
        </div>
      </div>

      <!-- register-botton (Rectangle) -->
      <div id="u116" class="ax_default button" data-label="register-botton">
        <div id="u116_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u117" class="text">
          <p><span>注册</span></p>
        </div>
      </div>

      <!-- personal-page-button (Rectangle) -->
      <div id="u118" class="ax_default button" data-label="personal-page-button">
        <div id="u118_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u119" class="text">
          <p><span>个人主页</span></p>
        </div>
      </div>

      <!-- Unnamed (注册窗口) -->

      <!-- Unnamed (Group) -->
      <div id="u121" class="ax_default" data-width="441" data-height="313">

        <!-- Unnamed (Rectangle) -->
        <div id="u122" class="ax_default box_2">
          <div id="u122_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u123" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u124" class="ax_default heading_3">
          <div id="u124_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u125" class="text">
            <p><span>账号</span></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u126" class="ax_default text_field">
          <input id="u126_input" type="text" value=""/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u127" class="ax_default heading_3">
          <div id="u127_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u128" class="text">
            <p><span>密码</span></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u129" class="ax_default text_field">
          <input id="u129_input" type="text" value=""/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u130" class="ax_default heading_3">
          <div id="u130_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u131" class="text">
            <p><span>确认密码</span></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u132" class="ax_default text_field">
          <input id="u132_input" type="text" value=""/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u133" class="ax_default heading_3">
          <div id="u133_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u134" class="text">
            <p><span>邮箱</span></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u135" class="ax_default text_field">
          <input id="u135_input" type="text" value=""/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u136" class="ax_default heading_3">
          <div id="u136_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u137" class="text">
            <p><span>验证码</span></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u138" class="ax_default text_field">
          <input id="u138_input" type="text" value=""/>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u139" class="ax_default image">
          <img id="u139_img" class="img " src="images/注册页面/u139.png"/>
          <!-- Unnamed () -->
          <div id="u140" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u141" class="ax_default checkbox">
          <label for="u141_input">
            <!-- Unnamed () -->
            <div id="u142" class="text">
              <p><span>同意隐私条款</span></p>
            </div>
          </label>
          <input id="u141_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- register-botton (Rectangle) -->
        <div id="u143" class="ax_default button" data-label="register-botton">
          <div id="u143_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u144" class="text">
            <p><span>注册</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (实时) -->

      <!-- Unnamed (Group) -->
      <div id="u146" class="ax_default" data-width="219" data-height="313">

        <!-- Unnamed (Rectangle) -->
        <div id="u147" class="ax_default box_2">
          <div id="u147_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u148" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u149" class="ax_default sticky_4">
          <div id="u149_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u150" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u151" class="ax_default heading_2">
          <div id="u151_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u152" class="text">
            <p><span>实时</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (联系我们) -->

      <!-- Unnamed (Group) -->
      <div id="u154" class="ax_default" data-width="670" data-height="46">

        <!-- Unnamed (Group) -->
        <div id="u155" class="ax_default" data-width="670" data-height="46">

          <!-- Unnamed (Rectangle) -->
          <div id="u156" class="ax_default box_2">
            <div id="u156_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u157" class="text" style="display:none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u158" class="ax_default heading_3">
            <div id="u158_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u159" class="text">
              <p><span>&nbsp;</span><span>联系我们</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (©️) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u161" class="ax_default heading_3">
        <div id="u161_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u162" class="text">
          <p><span style="font-family:'AdobeFangsongStd-Regular', 'Adobe Fangsong Std R', 'Adobe Fangsong Std';">Copyright </span><span style="font-family:'AppleColorEmoji', 'Apple Color Emoji';">©️</span><span style="font-family:'AdobeFangsongStd-Regular', 'Adobe Fangsong Std R', 'Adobe Fangsong Std';">2017 author. All rights reserved.</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
